@font-face {
	font-family: 'space font';
	src: url('../fonts/space font.ttf');
}

$font-primary: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$font-secondary: Roboto, sans-serif;

$font-size-global: 62,5%;
$font-size-body: 1rem;