// COLORS //

// GENERAL

$primary-color: #4552bc;
$secondary-color: #5363e2;
$danger-color: #ed6863;
$success-color: #88E94E;
$info-color: #3EE5E7;

$alternative-blue-color: #1c2042;

// :AFTER/:HOVER

$ph-color: #6672D6;
$sdh-color: #6979F4;
$dh-color: #FB847F;
$sh-color: #9DF966;
$ih-color: #61FCFE;